*{
    margin: 0; 
    padding: 10;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
}
header{
 width: 100%;
}
nav{
    position: fixed;
    width: 100%;
    color: white;
    margin: 10px;
}
nav .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
nav ul{
    display: flex;
     list-style: none;
}
nav ul li{
margin: 10px;
}
nav ul li a{
   text-decoration: none;
   color: white;
}
.main{
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .home-content{
    color: white;
}
main .home-content h2 {
    margin: 20px 0;
}
main .home-content p {
    margin: 20px 0;
}
main .home-content button {
    color: white;
    margin: 20px 0;
    padding: 15px;
    border: none;
}
main .home-content button.get-started {
    background-color: #FF4A17;
    color: white;
     border-radius: 5px;
    margin-right:10px;
}
main .home-content button.watch-video {
    background-color: transparent;
    color: white;
    margin: 20px 0; 
}
main .home-content button.watch-video i {
    background-color: transparent;
    color: #FF4A17 ;
}
 /* main .content button.watch-video span {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
}  */
 .about{
    display: flex;
    column-gap: 30px;
    background-color: white;
 }
 .about .part1{
    width: 50%;
 }
  .about .part2{
    width: 50%;
 }
 .about .part1 img{
    width: 90%;
    border-radius: 10px;
 }
 .about .part2 img{
    width: 90%;
    border-radius: 20px;
    padding: 10px 0;
 }
 .about h2{
    color: #273D4E;
    padding: 30px 0 20px;
 }
 .about ul li{
    padding: 3px 0;
 }
 .about ul{
    list-style: none;
 }
  .about p{
    padding: 20px 0 5px;
    line-height: 22px;
    color: #444444;
    font-size: 18px;
 }
 .about .part2 p {
    padding: 25px 0;
 } 
 .info{
    display: flex;
    justify-content: space-evenly;
    background-color: #F1F4FA;
    padding: 25px 0;
 }
 .info span{
    color: #273D4E;
 }
 .info i{
    color: #FF4A17;
 }
  .info div div{
    font-size: medium;
    color: #444444;
    padding: 5px 0;
 }
 .info-card{
    background-color: white;
    padding: 30px 90px;
 }
 .services1{
    padding: 8px;
 }
 .services1 p{
    color: #A1B6CB;
 }
 .services1 h2{
font-size: 35px;
color: #273D4E;
 }
 .featured-services{
    display: flex;
 }
 .service{
    width: 33.33%;
    position: relative;
    padding: 40px 15px;
    transition: 0.5s;
 }
 .service:hover{
    transform: scale(1.1);
 }
 .service:hover h3{
 color: #FF4A17;
}
  .service img{
    width: 100%;
    border-radius: 5px;
 }
 .service-content{
    background-color: white;
    text-align: center;
    position: absolute;
    top: 80%;
    width: 80%;
    left: 10%;
}
 .service-content h3{
    padding: 20px 0;
    color: #273D4E;
    font-size: 25px;
 }
 .service-content p{
    padding: 25px;
    color: #7E7E7E;
 }
 .clients{
    background-color: #F1F4FA;
    /* width: 100%; */
    margin: 120px 0;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
 }
 .clients img{
    width: 7%;
 }
  .services2{
    background-color: #F1F4FA;
  }
 .services2 p{
    color: #A1B6CB;
 }
 .services2 h2{
font-size: 35px;
color: #273D4E;
 }
 .urs-service{
 display: flex;
 flex-wrap: wrap;
 padding: 40px;
}
 .servicee{
   padding: 30px;
   background-color: white;
   width: 50%;
}
 .inner-servicee{
    display: flex;
    align-items: center;
    column-gap: 15px;
 }
 .servicee i{
    color: #FF4A17;
 }
 .servicee h3{
    color: #273D4E;
 }
 .servicee p{
    color: black;
    padding: 8px;
 }
.portfolio{
    padding: 30px;
}
 .portfolio p{
    color: #A1B6CB;
 }
.portfolio h2{
font-size: 35px;
color: #273D4E;
 }
 .portfolio .photos{
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
 }
 .photos img{
    width: 33.333%;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
 }
 .photos img:hover{
   transform: scale(1.1);
 }