*{
    margin: 0; 
    padding: 10;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
}
header{
 width: 100%;
}
nav{
    position: fixed;
    width: 100%;
    color: white;
    margin: 10px;
}
nav .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
nav ul{
    display: flex;
     list-style: none;
}
nav ul li{
margin: 10px;
}
nav ul li a{
   text-decoration: none;
   color: white;
}
.main{
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .home-content{
    color: white;
}
main .home-content h2 {
    margin: 20px 0;
}
main .home-content p {
    margin: 20px 0;
}
main .home-content button {
    color: white;
    margin: 20px 0;
    padding: 15px;
    border: none;
}
main .home-content button.get-started {
    background-color: #FF4A17;
    color: white;
     border-radius: 5px;
    margin-right:10px;
}
main .home-content button.watch-video {
    background-color: transparent;
    color: white;
    margin: 20px 0; 
}
main .home-content button.watch-video i {
    background-color: transparent;
    color: #FF4A17 ;
}
 /* main .content button.watch-video span {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
}  */
 .about{
    display: flex;
    column-gap: 30px;
    background-color: white;
 }
 .about .part1{
    width: 50%;
 }
  .about .part2{
    width: 50%;
 }
 .about .part1 img{
    width: 90%;
    border-radius: 10px;
 }
 .about .part2 img{
    width: 90%;
    border-radius: 20px;
    padding: 10px 0;
 }
 .about h2{
    color: #273D4E;
    padding: 30px 0 20px;
 }
 .about ul li{
    padding: 3px 0;
 }
 .about ul{
    list-style: none;
 }
  .about p{
    padding: 20px 0 5px;
    line-height: 22px;
    color: #444444;
    font-size: 18px;
 }
 .about .part2 p {
    padding: 25px 0;
 } 