*{
    margin: 0; 
    padding: 10;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
}
header{
 width: 100%;
}
nav{
    position: fixed;
    width: 100%;
    color: white;
    margin: 10px;
}
nav .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
nav ul{
    display: flex;
     list-style: none;
}
nav ul li{
margin: 10px;
}
nav ul li a{
   text-decoration: none;
   color: white;
}
nav button{
   background-color: transparent;
   border: 1px solid white;
   color: white;
   transition: 0.5s;
   padding: 10px 15px;
   margin-left: 10px;
   cursor: pointer;
   border-radius: 5px;
}
nav button:hover{
   background-color: #FF4A17;
}
.main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../images/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .home-content{
    color: white;
}
.main .home-content h2 {
    margin: 20px 0;
    font-size: 50px;
    font-weight: bold;
}
.main .home-content p {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.main .home-content button {
    color: white;
    margin: 20px 0;
    padding: 15px;
    border: none;
    cursor: pointer;
}
.main .home-content button.get-started {
    background-color: #FF4A17;
    color: white;
     border-radius: 5px;
    margin-right:10px;
}
.main .home-content button.watch-video {
    background-color: transparent;
    color: white;
    margin: 20px 0; 
}
.main .home-content button.watch-video i {
    background-color: transparent;
    color: #FF4A17 ;
}
 /* .main .content button.watch-video .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FF4A17;
}  */
 .about{
    display: flex;
    column-gap: 30px;
    background-color: white;
 }
 .about .part1{
    width: 50%;
 }
  .about .part2{
    width: 50%;
 }
 .about .part1 img{
    width: 90%;
    border-radius: 10px;
 }
 .about .part2 img{
    width: 90%;
    border-radius: 20px;
    padding: 10px 0;
 }
 .about h2{
    color: #273D4E;
    padding: 30px 0 20px;
 }
 .about ul li{
    padding: 3px 0;
 }
 .about ul{
    list-style: none;
 }
  .about p{
    padding: 20px 0 5px;
    line-height: 22px;
    color: #444444;
    font-size: 18px;
 }
 .about .part2 p {
    padding: 25px 0;
 } 
 .info{
    display: flex;
    justify-content: space-evenly;
    background-color: #F1F4FA;
    padding: 25px 0;
 }
 .info span{
    color: #273D4E;
 }
 .info i{
    color: #FF4A17;
 }
  .info div div{
    font-size: medium;
    color: #444444;
    padding: 5px 0;
 }
 .info-card{
    background-color: white;
    padding: 30px 90px;
 }
 .services1{
    padding: 8px;
 }
 .services1 p{
    color: #A1B6CB;
 }
 .services1 h2{
font-size: 35px;
color: #273D4E;
 }
 .featured-services{
    display: flex;
 }
 .service{
    width: 33.33%;
    position: relative;
    padding: 40px 15px;
    transition: 0.5s;
 }
 .service:hover{
    transform: scale(1.1);
 }
 .service:hover h3{
 color: #FF4A17;
}
  .service img{
    width: 100%;
    border-radius: 5px;
 }
 .service-content{
    background-color: white;
    text-align: center;
    position: absolute;
    top: 80%;
    width: 80%;
    left: 10%;
}
 .service-content h3{
    padding: 20px 0;
    color: #273D4E;
    font-size: 25px;
 }
 .service-content p{
    padding: 25px;
    color: #7E7E7E;
 }
 .clients{
    background-color: #F1F4FA;
    /* width: 100%; */
    margin: 120px 0;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
 }
 .clients img{
    width: 7%;
 }
  .services2{
    background-color: #F1F4FA;
  }
 .services2 p{
    color: #A1B6CB;
 }
 .services2 h2{
font-size: 35px;
color: #273D4E;
 }
 .urs-service{
 display: flex;
 flex-wrap: wrap;
 padding: 40px;
}
 .servicee{
   padding: 30px;
   background-color: white;
   width: 50%;
}
 .inner-servicee{
    display: flex;
    align-items: center;
    column-gap: 15px;
 }
 .servicee i{
    color: #FF4A17;
 }
 .servicee h3{
    color: #273D4E;
 }
 .servicee p{
    color: black;
    padding: 8px;
 }
.portfolio{
    padding: 30px;
}
 .portfolio p{
    color: #A1B6CB;
 }
.portfolio h2{
font-size: 35px;
color: #273D4E;
 }
 .portfolio .photos{
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
 }
 .photos img{
    width: 33.333%;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
 }
 .photos img:hover{
   transform: scale(1.1);
 }
 .team{
    padding: 30px;
    background-color: #F1F4FA;
 }
 .all-team{
    display: flex;

 }
 .teamm{
    width: 33.33%;
    text-align: center;
    position: relative;
 }
  .teamm img{
    width: 100%;
    padding: 10px;
 }
  .team p{
    color: #A1B6CB;
 }
 .team h2{
font-size: 35px;
color: #273D4E;
 }
 .team-content{
     background-color: white;
    text-align: center;
    position: absolute;
    top: 90%;
    width: 80%;
    left: 10%;
 }
 .team-content h3{
     padding: 20px;
     font-size: 25px;
     color: #273D4E;
 }
  .team-content p{
     padding: 10px;
     color: #444444;
 }

 .contact{
padding: 100px;
 }
 .contact .contact-info{
   width: 50%;
   text-align: center;
 }
 .contact .contact-info .part1{
   width: 100%;
   background-color: white;
   margin: 10px 0;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
 padding: 20px;
}
.contact .contact-info .part2{
   width: 50%;
   background-color: white;
   margin: 30px 0;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
 padding: 20px;
}
  .contact .contact-info i{
  color: #FF4A17;
  margin: 10px 0;
  font-size: 25px;
 }
 .contact .contact-info h3{
  color: #696969;
  margin: 10px 0;
 }
 .contact .contact-info p{
  color: #696969;
  margin: 10px 0;
 }
  .contact .send-form{
   width: 50%;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
padding: 62px;
margin: auto;
text-align: center;
 }
 .contact-details{
    display: flex;
    column-gap: 20px;
 }
 .contact p{
    color: #A1B6CB;

 }
 .contact h2{
font-size: 35px;
color: #273D4E;
 }
 .partt2{
   display: flex;
   column-gap: 20px;
 }
 .send-form input{
    padding: 10px ;
 }
 .send-form input[name="subject"]{
    width: 100%;
    margin: 20px 0;
 }
textarea{
   width: 100%;
}
.send-form button{
   padding: 15px 18px;
   color: white;
   background-color: #FF4A17;
   border-radius: 20px;
   border: none;
   margin: 5px 0;
}
footer{
   background-color: #000910;
   padding: 30px;
}
.inner-footer{
   display: flex;
   align-items: baseline ;
}

footer .contact-information{
color: white;
width: 35%;
}
footer .contact-information span{
 font-size: 25px;
 font-weight: bold;
}
footer .contact-information p{
padding: 10px 0;   
}
footer .social-icons{
   display: flex;
}
footer .social-icons .icon{
 width: 30px;
 height: 30px;
 border-radius: 50%;
 background-color: transparent;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid;
 margin: 0 5px;
}
footer ul{
   padding: 10px 0;
   width: 25%;
}
footer ul li{
   padding: 3px 0;
}
footer ul a{
  text-decoration: none;
  color: #696969;
}
footer ul span{
   color: white;
   font-size: 18px;
}
footer ul li span{
   color: #FF4A17;
}
footer .newsletter{
   width: 25%;
}
footer .newsletter span{
   color: white;
   font-size: 18px;
}
footer .newsletter p{
padding: 10px;
margin: 10px 0;
color: white;
}
footer .newsletter  input{
width: 70%;
padding: 10px 0;
}
footer .newsletter button{
padding: 10px ;
color: white;
background-color: #FF4A17;
border: none;
border-radius: 4px;
margin: 0;
}
footer hr{
   color: #7E7E7E;
   opacity: 0.1;
}
footer p{
   color: white;
}
.copyright{
   text-align: center;
}

@media screen and (max-width:768px) {
nav .nav{
    display: block;
}
nav{
    display: block;
}
.main .home-content h2 {
    font-size: 30px;
}
nav button{
  display: none;
}
.about{
    display: block;
 }
 .about .part1{
    width: 100%;
 }
  .about .part2{
    width: 100%;
 }
 .about .part1 img{
    width: 100%;
 }
 .about .part2 img{
    width: 100%;
 }
 .info{
   display: block;
 }
 .featured-services{
    display: block;
 }
 .service{
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    transition: 0.5s;
 }
 .clients{
    margin: 50px 0;
    display: block;
    text-align: center;
 }
 .clients img{
    width: 50%;
 }
 .urs-service{
 display: block;
}
 .servicee{
   width: 100%;
}
 .inner-servicee{
    column-gap: 0px;
 }
 .photos img{
    width: 100%;
 }
 .all-team{
    display: block;
 }
 .teamm{
   width: 100%;
 }
.contact .contact-info{
   width: 100%;
 }
 .contact .contact-info .part2{
   width: 100%;
}
.contact-details{
    display:block;
 }
 .contact .send-form{
   display: none;
 }
 .partt2{
   display: block;
 }
 .inner-footer{
   display: block;
}
footer ul{
   width: 100%;
}
footer .newsletter{
   width: 100%;
}  
}
@media screen and (max-width:1024px) {
  .info{
   display: block;
 } 
  .service{
    width: 100%;
    margin-bottom: 70px;
 }
}
/* @media screen and (max-width:1280px) {
   
}
@media screen and (max-width:1536px) {
   
} */
