*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
}
main{
    background-image: url(./images/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main .content{
    color: white;
}
main .content h2 {
    margin: 20px 0;
}
main .content p {
    margin: 20px 0;
}
main .content button {
    color: white;
    margin: 20px 0;
    padding: 15px;
    border: none;
}
main .content button.get-started {
    background-color: #FF4A17;
    color: white;
     border-radius: 5px;
    margin-right:10px;
}
main .content button.watch-video {
    background-color: transparent;
    color: white;
    /* margin: 20px 0; */
}